div class="col-lg-10">
  <div class="card rounded-0 shadow mt-5 mb-5">
    <div class="card-body">
      <p><%= notice %></p>
      <h1>Comments</h1>
      <% @comments.each do |comment| %>
        <p><strong>comments: </strong> <%= comment.comments %></p>
      <% end %>
      <br>
      <%= link_to 'Back', posts_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
